html,
body{
   margin: 0;
   /* font-family: 'Apple Chancery', cursive; */
   font-family: sans-serif;
}
#heading{
    text-align: left;
    /* margin-bottom: px; */
    font-size: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
    color:crimson
}
#color{
    float: right;
    /* margin-right: 8px; */
}

#wrap{
    height:90vh;
    width:100vw;
    border-top:3px solid #323232;
    display:flex;
    align-items: center;
    justify-content: center;
}


#btn{
   color: black;
   background-color: white;
   font-weight: bolder;
   border: 2px 2px balck;
   border-radius: 5px;
   cursor: pointer;
   font-size: 30px;
   box-shadow: 2px 2px black;
}